.section.festival {
  background-color: #F6F3EC;
}

.hero.is-danger {
  background-image: url("../images/hero-bg.svg"), linear-gradient(70deg, #F89465, #F25046 60%);
}

.hero-body {
  background-image: url("../images/hero-img-mobile@2x.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}
.hero.is-large .hero-body {
  padding-bottom: 21rem;
  padding-top: 3.5rem;
}

h1.title {
  font-family: "Supernettcn-Regular";
  font-weight: normal;
}

.button.is-large.btn-header {
    font-size: 1.5rem;
    font-family: "Supernettcn-Bold";
    letter-spacing: .04rem;
    background-color: #674848;
    border: none;
    border-radius: 0px;
    color: #FCF8F3;
    padding: 1em 1em;
}

/*section films festival */
p.section-sub {
  font-size: 1.2rem;
}
p.medium-width {
  padding: 0 11em 3em 11em;
}
.film-schedule {
  font-family:"Supernettcn-Bold";
  font-size: 1.2rem;
}
.film-date {
  text-transform: uppercase;
  letter-spacing: .08rem;
  padding-right: 1.2rem;
}

.txt-uppercase {
  text-transform: uppercase;
  letter-spacing: .08rem;
  padding-right: 1.2rem;
}
.box-date {
  background-image: url("../images/bg-date@2x.png");
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 2.8rem;
  background-size: 73px auto;
}

.align-left {
  text-align:left;
}


/* responsive */

@media screen and (min-width: 769px), print {
    .hero.is-large .hero-body {
      padding-bottom: 16rem;
      padding-top: 5rem; } 
  .title {
    font-size: 2.6rem; 
    line-height: 3.6rem;
  }
  
}

@media screen and (min-width: 480px){
  .hero.is-large .hero-body {
    padding: 6rem 4rem 22rem 4rem;
  }
  .hero-body {
  background-image: url("../images/hero-img@2x.png");
  }
}
@media screen and (min-width: 480px) and (max-width:768px){
  .hero-body {
  background-size: 110%;
}
}

@media screen and (min-width: 769px){
  .hero-body {
  background-position: center bottom;background-size: auto 360px;
  }
}