@charset "utf-8";
@import "node_modules/bulma/sass/utilities/initial-variables";
$family-sans-serif: "Open Sans";
$family-primary: $family-sans-serif;
$navbar-height: 5rem;
$navbar-item-img-max-height: 4rem;
$brown: hsl(0, 17%, 29%);
$primary: $brown;
$success: hsl(171, 64%, 43%);
$info: $grey-dark; 
$warning: hsl(21, 96%, 72%);
$danger: hsl(4, 86%, 59%);

@import "node_modules/bulma/bulma";
@import "node_modules/bulma-steps/dist/bulma-steps";
@import "node_modules/bulma-calendar/dist/bulma-calendar";
$family-heading: "Supernettcn-Regular";
$heading-bold: "Supernettcn-Bold";
$fait-son-cine: "Supernettcn-BoldItalic";

$black: hsl(240, 2%, 21%);
$black-bis: hsl(210, 1%, 31%);
$red-link: hsl(9, 80%, 60%);
$link: $red-link;
$hover-red: hsl(9, 81%, 71%);
$red-bis: hsl(8, 81%, 66%);
$input-focus-border-color: $red-link;

$calendar-header-color: $red-bis;
$calendar-today-color: $red-bis;


/*notifications */
.notification {
  color: white;
}
.notification.is-info {
  background-color:$info;
}
.notification.is-success {
  background-color:$success;
}
.notification.is-warning {
  background-color:$warning;
}
.notification.is-danger {
  color: #ea372b ;
  background-color: white;
  border: 3px solid $danger;
}
/* datepicker calendar */
.datepicker .calendar .calendar-nav {
  background:$calendar-header-color;
}
.datepicker .calendar .calendar-date .date-item.is-active {
  background: $calendar-today-color;
  border-color: $calendar-today-color;
}

/*control button */
.button.btn-control {
  font-family: $heading-bold;
  letter-spacing:.02em;
  padding-bottom: calc(0.3em - 2px);
}
.button.btn-rounded {
  color: white;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  background-color: $red-bis;
  border: none;
}
.button.btn-rounded:hover {
  background-color: $hover-red;
}

.button.btn-rounded-disabled {
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #e7d4d4;
  border: none;
}

.button .btn-icon-right {
  padding-left: .8rem;
}

/*film catalogue */

ul.nav-side-films li a {
  color:$grey-dark;
}
ul.nav-side-films li a:hover, ul.nav-side-films li a:active {
  color:$hover-red;
}
ul.nav-side-films li {
  margin: .3rem 0;
  }
a.film-hover {
  opacity:1;
  transition: all 0.4s ease-in-out 0s;
}
a.film-hover:hover {
  opacity: 0.7;
}
.dropdown-content {
  background-color: transparent;
  box-shadow: none;
}
.dropdown .dropdown-menu {
  left: -12px;
  top: 85%;
}
/* layout */
.space-bottom {
  margin-bottom: 3rem;
}
.centered-narrow {
  text-align: center;
  padding-left: 7rem;
  padding-right: 7rem;
}

.detail-overview {
height: 3em;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
/*elements*/
.card-content-large {
  padding: 2rem;
}
.box-space-large {
  padding: 2rem;
}
.search-input {
  background-color: transparent;
  border-bottom: 1px solid #dbdbdb;
  border-top:0;
  border-left:0;
  border-right:0;
  box-shadow: none;
}
.button {
  border-radius: 0;
}
.button.txt-small-ajust {
  font-size: .8rem;
  padding-top: .65rem;
}
.align-base {
  align-items:baseline;
}
.label {
  font-family: $family-heading;
  letter-spacing: .02em;
}
.field-label .label {
  font-size: 1.2rem;
  font-weight: normal;
}
.steps .step-item .step-marker {
}
.steps .step-item .step-marker {
  font-family:$heading-bold;
  font-weight: normal;
  border-width: .18em;
  padding-top: .15em;
}
.steps .step-item.is-success.is-active .step-marker {
  border-color: $red-bis;
  color: $red-bis;
}
.steps .step-item .step-details .step-title {
  font-size: 1.2rem;
  font-weight: normal;
  font-family: $family-heading;
  text-transform: uppercase;
  letter-spacing: .05rem;
}
.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
    box-shadow:none;
}
.control {
  margin-bottom: 1.5rem;
}
.input {
  border-radius: 0;
}
.input:active, .input:focus {
  border-bottom-color: $grey-darker;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius:0px;
}
.button.is-primary {
  border-radius: 0;
  background-color: $red-bis;
}
.button.is-primary:hover {
  background-color: $hover-red;
}
.button.is-text {
  text-decoration: none;
  color: $red-link;
}
.button.is-text:hover {
  background-color:transparent;
  text-decoration: none;
  color: $black-bis;
}
.btn-icon-custom {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}
.separator {
  padding: 2rem 0;
  border-bottom: 1px solid #e6e6e6;
  display: block;
  margin-bottom: 2rem;
  margin-bottom: 2rem;
}

.label {
  font-weight:400;
}

.button.is-link {
  background-color: #583E3E;
  border-radius: 0;
}
.button.is-link:hover {
  background-color:#6D5252;
}
.heading-bold {
  font-family: $heading-bold;
  font-weight: normal;
}
/*.subtitle {
font-family: $family-heading;
}
*/
.heading-regular {
  font-family: $family-heading;
  font-weight: normal;
}
.txt-dark {
  color: $black;
}
.txt-light {
  color: white;
}
.navbar {
  font-family: $family-heading;
  letter-spacing:.02em;
  font-size: 1.2rem;
}
.navbar-brand {
  align-items: self-start;
  padding-left: 1em;
}
a.navbar-item {
  transition: color 0.4s ease forwards;
}
a.navbar-item:hover, 
a.navbar-item.is-active, 
.navbar-link:hover, 
.navbar-link.is-active {
  color: #e7624b;
}
a {
  color:$link;
}
.content h1, .content h2, .content h3, .navbar {
  font-family: $family-heading;
  font-weight: normal;
  font-style: normal;
}
.content h2 {
  font-size: 2.3em;
  text-transform: uppercase;
  letter-spacing: .02em;
}

.content h3 {
  font-size: 1.8em;
}  

.title {
  font-family: $family-heading;
  font-weight: normal;
  letter-spacing: .02em;
}
@media screen and (min-width: 1216px) {
  .title.is-2 {
    font-size: 3rem;
  }
}

.uppercase-on {
  text-transform: uppercase;
  letter-spacing: .02em;
}
.hero.is-danger {
  background-image: url("../images/hero-bg.svg"), linear-gradient(70deg, #F89465, #F25046 60%);
}

.hero-home {
  background-image: url("../images/hero-img-mobile@2x.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}
.hero.is-large .hero-body.hero-home {
  padding-bottom: 21rem;
  padding-top: 3.5rem;
}
@media screen and (min-width: 769px), print {
  .hero.is-large.hero-home {
    padding-bottom: 16rem;
    padding-top: 5rem; }
}

@media screen and (min-width: 480px){
  .hero.is-large .hero-body.hero-home {
    padding: 6rem 4rem 22rem 4rem;
  }
  .hero-home {
    background-image: url("../images/hero-img@2x.png");
  }
}
@media screen and (min-width: 480px) and (max-width:768px){
  .hero-home {
    background-size: 110%;
  }
}

@media screen and (min-width: 769px){
  .hero-home {
    background-position: center bottom;
    background-size: auto 360px;
  }
}

.section {
  padding: 5rem 1.5rem;
}
.button.is-large.btn-medium {
  font-size: 1.2rem; 
}
.past-event {
  font-family: "Supernettcn-Bold";
  letter-spacing: .04rem;
  background-color: #e5e5e5;
  color: #969799;
  padding: 1rem 1.2rem;
  font-size: 1.2rem;
  display:inline;
}
.button.is-large.btn-header {
  /*font-size: 1.5rem;*/
  font-family: "Supernettcn-Bold";
  letter-spacing: .04rem;
  background-color: #674848;
  border: none;
  border-radius: 0px;
  color: #FCF8F3;
  padding: 1em 2.2em 1em 1em;
  transition: background 0.5s ease, margin-left 0.5s ease; 
}
.button .btn-icon {
  position: absolute;
  right: 0;
  width: 55px;
  font-family: "Supernettcn-Bold";
  font-size: 1em;
  text-align: center;
  color: #fff;
}
.button.is-large.btn-header:hover {
  background: rgba(103, 72, 72, 0.6);
  animation: btn-header-anim 0.5s ease forwards;
}
.button .btn-icon:hover {
  right:-2px;
}
@keyframes btn-header-anim {
  to{
    margin-left: 0.6em;
    padding-right:2.8em;
  }
}

.content figure {
  margin-left: 0.1em;
  margin-right: 0.1em;
}
@media screen and (min-width: 768px) {
  .content figure {
    margin-left: 1.2em;
    margin-right: 1.2em;
  }
}

.top {
  padding-top: 3rem;
}

/* hero je programme ma projection */
.prog {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
@media screen and (min-width: 769px) {
  .prog {
    padding-bottom: 3rem;
    padding-top: 3rem; 
  }
}
/* section festival*/

.section.festival {
  background-color: #F6F3EC;
}

.content h3.heading-bold {
  font-family: $heading-bold;
}


.columns:not(:last-child) {
  margin-bottom: calc(3rem - 0.75rem);
}
.columns.is-mobile.col-inside {
  padding-left: 2em;
  padding-right: 2em;
}
p.festival-sub {
  font-size: 1.2rem;
  padding: 0 0 3em 0;
}
@media screen and (min-width: 1280px) {
  p.festival-sub {
    padding: 0 11em 3em 11em;
  }
}

p.medium-width {
  padding: 0 11em 3em 11em;
}

.box-date {
  font-family: $heading-bold;
  background-image: url("../images/bg-date@2x.png");
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 2.1rem;
  background-size: 54px auto;
  text-transform: uppercase;
  line-height: 1.7rem;
  text-transform: uppercase;
  letter-spacing: .02rem;
  padding-left: 0.45rem;
  padding-right: 0.45rem;
}
.film-date {
  font-size: 1.3rem;
}

.film-time {
  font-size: 0.9rem;
  background-image: url("../images/bg-time.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding: 0.6em 0;
  background-size: 4em 2.2em;
}
.film-infos {
  text-align:left;
  padding-top: 1.4em;
}
a.link-invert, a.link-invert:active {
  color: $black-bis;
}
a.link-invert:hover {
  color:#666768;
}

/*background hero event */
.hero.bg {
  background-repeat: repeat;
  background-position: center;
}
.hero.bg-tracy {
  background-image: url("../images/img-bg-film-apero.png"), linear-gradient(70deg, #9BBFB1, #609E88 60%);
}
.hero.bg-hermitage {
  background-image: url("../images/img-bg-film-apero-light.png"), linear-gradient(70deg, #FFEA86, #EAC254 60%);
}
.hero.bg-asso-traces {
  background-image: url("../images/img-bg-film-apero-light.png"), linear-gradient(70deg, #EFDCDF, #A992B0 60%);
}
.hero.bg-cclo {
  background-image: url("../images/img-bg-film-apero-light.png"), linear-gradient(70deg, #D86747, #CB4435 60%);
}

/* section A l'affiche */
.section-a-laffiche {
  background-color: #ffffff;
}

/* event page */
.section-event {
  background-color: #F9F9F8;
}
@media screen and (max-width: 769px) {
  .reverse-column-order {
    display: flex;
    flex-direction: column-reverse;
  }
}
.card-content-first {
  padding-top:0px;
  padding-left:1.5rem;
  padding-bottom:1.5rem;
}
.card-content-first-left {
  padding-top:0px;
  padding-left:0px;
  padding-bottom:3.2rem;
}
.card-content-first-bottom {
  padding-top:3rem;
  padding-left:0px;
  padding-bottom:0px;
}
.box-custom {
  border: solid 4px #ede8e7;
  border-radius: 2px;
  margin-bottom: 2.2rem;
}
.media-content.single-centered {
  align-self: center;
}
.event-info-icon {
  max-height:52px;
  margin-bottom:10px;
}
.hero-body.event {
  padding-bottom: 0rem;
  padding-top: 3rem;
}
@media screen and (min-width: 769px), print {
  .hero.is-large .hero-body.event {
    padding-bottom: 0rem;
    padding-top: 3rem; 
  } 
  .hero h1.title-orga {
    margin-top: 4rem;
    font-size: 3.5rem;
    line-height: 3.6rem;
  }
  .hero h2.event-subtitle {
    line-height: 3.8rem;
    font-size: 3.2rem;
  }
}
@media (max-width:678px) {
  .hero h1.title-orga {
    font-size: 2.3rem;
    line-height: 2.4rem;
  }
  .hero h2.event-subtitle {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
}
.hero h1.title-orga {
  font-family: "FranklinGothicHandDemiShadow";
  margin-top: 2.2rem;
}

.hero h2.event-subtitle {
  font-family: $fait-son-cine;

}
.hero-body img.icon-ambiance {
  position: absolute;
  height: auto;
  max-width: 145px;
  left: 0;
  bottom: 0;
}
@media screen and (min-width:769px){
  .hero-body img.icon-ambiance {
    position: absolute;
    left: 3.5rem;
  }
}

@media screen and (min-width: 520px) {
  img.img-hero-film {
    max-width: 520px;
  }
}
.columns.bottom-zero {
  margin-bottom: 0;
}
.content figure.full {
  padding-left:0;
  padding-right:0;
}
.staring {
  display: flex;
  align-items:flex-start;
}
.staring img {
  max-height: 204px;
}
@media screen and (max-width: 768px) {
  .hero-event-col-mobile {
    padding-bottom: 3rem;
  }
}

/* responsive */




  /*@media {
    .title {
    font-size: 2.6rem; 
    line-height: 3.6rem;
  }

}
*/
